.container
	.jumbotron
		h1 BI Analytics
		p Welcome to BI Analytics Training. The most advance and complete training for business in the web.

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")	